h1 {
    color: rgba(0,200,100,0.8);
    border: 2px dashed rgb(255,100,80);
/*    border-color: purple;
    border-width: 5px;
    border-style: solid;
*/
}
h4 {
    background: rgb(255,100,80);
}
body {
    background: pink;
/*    background: url(https://images.unsplash.com/photo-1522277089283-68691c1a7f8c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9a0f23c9d66661c33c845afaf02d2bd0&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
*/
}