/*Element*/ /*Selects all of a certain type of item*/
li {

}
/*Class*/ /*Selects all items of a class (you create the class)*/
.hello {

}
/*id*/ /*Selects an individual item*/
#name {

}
/*Star*/ /*Selects everything on the page*/
* {

}
/*Descendant Selector*/ /*Selects every child tag inside a parent tag*/
li a {

}
/*Adjacent Selector*/ /*Selects all items that meet two criteria (lists after an h4*/
h4 + ul {

}
/*Attribute Selector*/ /*Selects all items of a certain attribute (certain linked websites or colored fonts*/
a [href="http://www.google.com"] {

}
/*nth of type*/ /*Selects every item to that power (i.e. 3-6-9-12 or evens, etc.*/
ul:nth-of-type(3) {

}