body {
    border: 20px solid #6e1e1ed2;
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
    font-family: source sans pro;
}
h3 {
    text-transform: uppercase;
    color: #b32323;
    letter-spacing: 0.2rem;
}
h1 {
    color: #7e0000;
    font-size: 2.0rem;
}
.first {
    border-left: 3px solid #6e1e1ed2;
    padding-left: 3px;
}
/* Inset, by Dan Eden */
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
#title {
    font-weight: bold;
    border-bottom: 1px solid rgba(25, 221, 146, 0.959);
}